[Unit]
Description=Reboot Button
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
WorkingDirectory=/home/pi/pi_auto/reboot
ExecStart=/usr/bin/python3 /home/pi/pi_auto/reboot/reboot_button.py
Restart=always

[Install]
WantedBy=multi-user.target
